.cafe > div{
    
    border: 1px solid red;
    width: 1000px;
    box-sizing: border-box;
    display: inline-block;
}


#naver {
    border: 1px solid rgb(118, 15, 214);
    color: green;
    
    width: 10%;
    /* box-sizing: border-box; */
}

#menu {
    border: 1px solid rgb(137, 231, 15);
    color: black;

    width: 70%;
    /* padding: 0 500px; */
    /* box-sizing: border-box; */

}