body {
    height: 2000px;
}

div {
    border: 1px solid red;
}

.parent {
    width: 100px;
    margin: 20px;
    background-color: green;
    color: white;
}

.child {
    background-color: rgb(18, 18, 161);
    width: 90px;
}

.relative {
    position: relative;
    top: 10px;
    left: -20px;
}

.absolute {
    position: absolute;
    /* top: 0px;
    left: 0px; */
    /* top: 50%;
    left: 50%; */
    top: 0;
    left: 0;
}

.absolute-bottom {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.fixed {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;

}

.sticky {
    position: sticky;
    top: 0px;
}

.z1 {
    background-color: hotpink;

    top: 20px;
    left: 20px;

    /* z-index: 1; */
}

.z2 {
    background-color: pink;

    top: -10px;
    left: -20px;

    /* z-index: 2; */
}

.z3 {
    background-color: black;
    color: white;
    top: -20px;
    left: 50px;

    /* z-index: 9999; */
}

.relative:hover {
    z-index: 9999;
}

ul.main {
    background-color: yellow;
}
ul.main:hover + ul.sub {
    display: block;
}
ul.main + ul.sub:hover {
    display: block;
}

ul.main + ul.sub {
    background-color: aqua;

    position: relative;
    top: -19px;

    display: none;
}

ul.main + ul.sub li:hover  {
    background-color: pink;
}

.p1 {
    width: 200px;
    height: 150px;
    position: relative;
}

.c1 {
    width: 70px;
    height: 30px;
    position: absolute;
    top: calc(150px/2 - 30px/2);
    left: calc(50% - 70px/2);
}